OPENAI_API_KEY="sk-proj-****"
ANTHROPIC_API_KEY=
AZURE_ENDPOINT=
AZURE_OPENAI_API_KEY=
GEMINI_API_KEY=
DEEPSEEK_API_KEY=

SUPABASE_URL=https://your-project-url.supabase.co
SUPABASE_KEY=your-supabase-api-key